@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-text-color-white: #ffffff;
  --primary-bg-color: white;
  --additional-bg-color: #f5f4fa;
  --additional-bg-color-dark: #2f303a;
  --icon-social-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--additional-text-color-white);
}

@media screen and (max-width: 767px) {
  .container__header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

/* Навігація */
.main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link.current {
    color: var(--accent-color);
  }
  .site-nav__link.current::after {
    position: absolute;
    display: block;
    bottom: 0px;
    content: "";
    height: 4px;
    width: 100%;
    background: #2196f3;
    -webkit-border-radius: 2px;
            border-radius: 2px;
  }
}

/* Контакти */
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-right: 30px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link.phone {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}

.contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: var(--primary-text-color);
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
    -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
  }
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--additional-bg-color-dark);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero-mob.jpg);
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-mob.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero-mob2x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-mob2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-mob2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero-tab.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-tab.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero-tab2x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-tab2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-tab2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-tab2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero-desktop.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero-desktop2x.jpg);
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero-desktop2x.jpg);
  }
}

.hero__title {
  color: var(--additional-text-color-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--additional-text-color-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.features-svg-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--additional-bg-color);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -webkit-flex-basis: -webkit-calc((100% - 120px) / 4);
        -ms-flex-preferred-size: calc((100% - 120px) / 4);
            flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.about {
  padding-top: 0;
  background-color: white;
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.about-list__item + .about-list__item {
  margin-left: 30px;
}

.about-list__item {
  position: relative;
}

.about-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color-white);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-list__img {
  display: block;
}

.section.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    margin: 15px;
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -webkit-flex-basis: -webkit-calc((100% - 120px) / 4);
        -ms-flex-preferred-size: calc((100% - 120px) / 4);
            flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-info__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-info__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color, fill;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color, fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color, fill;
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--additional-text-color-white);
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-social-color);
}

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -15px;
}

.clients__ref {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-social-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__ref:hover, .clients__ref:focus {
  border-color: var(--accent-color);
}

.clients__item {
  height: 92px;
  margin: 15px;
  -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
      -ms-flex-preferred-size: calc((100% - 60px) / 2);
          flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -webkit-flex-basis: -webkit-calc((100% - 90px) / 3);
        -ms-flex-preferred-size: calc((100% - 90px) / 3);
            flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -webkit-flex-basis: -webkit-calc((100% - 180px) / 6);
        -ms-flex-preferred-size: calc((100% - 180px) / 6);
            flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__logo {
  fill: var(--icon-social-color);
}

.clients__ref:hover .clients__logo,
.clients__ref:focus .clients__logo {
  fill: var(--accent-color);
}

.section.portfolio {
  background-color: white;
}

/* фільтр портфоліо */
.filter-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-wrap {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item {
    margin-bottom: 15px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  min-width: 73px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 6px 22px;
  border: none;
  color: var(--title-text-color);
  background-color: var(--additional-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color, backround-color, -webkit-box-shadow;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color, backround-color, -webkit-box-shadow;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color, backround-color, box-shadow;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color, backround-color, box-shadow;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color, backround-color, box-shadow, -webkit-box-shadow;
}

.filter-list__button:hover, .filter-list__button:focus {
  color: var(--additional-text-color-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-content__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-content__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-list__item {
  border: 1px solid #eeeeee;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-box-shadow;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-box-shadow;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-box-shadow;
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    margin: 15px;
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    -webkit-flex-basis: -webkit-calc((100% - 90px) / 3);
        -ms-flex-preferred-size: calc((100% - 90px) / 3);
            flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-box__img {
  display: block;
}

.image-box__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(-webkit-calc(100% + 1px));
      -ms-transform: translateY(calc(100% + 1px));
          transform: translateY(calc(100% + 1px));
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-transform;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) transform, 250ms cubic-bezier(0.4, 0, 0.2, 1) -webkit-transform;
}

.portfolio-list__item:hover .image-box__text,
.portfolio-list__item:focus .image-box__text {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  background: rgba(33, 150, 243, 0.9);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--additional-bg-color-dark);
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer-contacts__address {
  color: var(--additional-text-color-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) color;
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.join__title,
.subscribe__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}

.subscribe__button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: hidden;
  min-width: 200px;
  min-height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 28px;
  padding-left: 29px;
  color: var(--additional-text-color-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--additional-bg-color-dark);
  color: var(--additional-text-color-white);
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.social-list__item {
  list-style: none;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--additional-text-color-white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: white;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    position: relative;
    margin-top: 93px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    min-height: 609px;
    width: 450px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    min-height: 581px;
    width: 528px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: white;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
}

.modal__button:hover .modal__svg {
  fill: var(--accent-color);
}

.form {
  min-height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-field__input {
  border: 1px solid #21212133;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  min-height: 40px;
  width: 100%;
}

.form-field__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #21212133;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  resize: none;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;
}

.form-field__textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-field__textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea .form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.policy__label {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.policy__label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 7px;
}

@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
  }
}

.policy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.policy__label .policy__ref {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.policy__input:checked + .policy__label::before {
  background-color: var(--accent-color);
  background-image: url(../images/tip.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.policy__input:focus + .policy__label::before {
  border: 1px solid var(--accent-color);
}

.policy__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__button {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: hidden;
  min-width: 200px;
  min-height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  margin-top: 30px;
  color: var(--additional-text-color-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form__button {
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .form__button {
    margin-left: 124px;
    padding-right: 28px;
    padding-left: 29px;
  }
}

.form-field__input {
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border, fill;
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border, fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border, fill;
  cursor: pointer;
}

.form-field__input:focus {
  border: 1px solid var(--accent-color);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.menu-button-open,
.menu-button-close {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu-button-open,
  .menu-button-close {
    display: none;
  }
}

.menu-button-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu-button-close:hover,
.menu-button-close:focus,
.menu-button-open:hover,
.menu-button-open:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-bg-color);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    -o-transition: transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link.contacts__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link.contacts__mail {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__icon-mail,
  .contacts__icon-phone {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    padding-left: 0;
  }
}

.mob-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .mob-social {
    display: none;
  }
}

.mob-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-social__item:not(:first-child) {
  padding-left: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .contacts__link {
    text-decoration: none;
    color: var(--primary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts__link:hover,
  .contacts__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-left: 0;
    margin-top: auto;
  }
}
/*# sourceMappingURL=main.css.map */