.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features-svg-wrap {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--additional-bg-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.features__item {
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
